<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Excel to DB</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/css/styles.min.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home:index' %}">Add new file</a>
                {% comment %}<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">test</a></li>
                    </ul>
                </div>{% endcomment %}
            </div>
        </nav>
    </header>
{% endblock %}

<div class="py-5 mt-5">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

{% block footer %}{% endblock %}

{% block js %}
    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block extra_js %}{% endblock %}
</body>
</html>